!urxvt 
#include "./xresources/base16-onedark-256.Xresources"
!#include "./xresources/base16-github.Xresources"

URxvt.font: xft:Iosevka:pixelsize=15
URxvt.cursorBlink: true
URxvt.cursorColor: base05

URxvt.scrollBar: false
URxvt.internalBorder:  7

!urxvt transparency 
URxvt.depth: 32
URxvt.background: [80]base00

!comma delimeter extensions, fullscren dependent on wmctrl
URxvt.perl-ext-common: fullscreen,resize-font
URxvt.keysym.F11: perl:fullscreen:switch

URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

!improve font rendering
Xft.dpi: 96
Xft.antialias: true      
Xft.hinting: true
Xft.rgba: rgb 
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
